.board {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.board-row {
  display: flex;
}
body{
  background: url('../src/images/wood.jpg');
}
.cell {
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #000;
}

.cell.dark {
  background-color: #8b4513; /* Dark square color */
}